@font-face {
    font-family: "Lato";
    src: url("assets/LatoLatin-Light.woff2");
    font-weight: 200;
}

@font-face {
    font-family: "Lato";
    src: url("assets/LatoLatin-Regular.woff2");
    font-weight: 400;
}

@font-face {
    font-family: "Lato";
    src: url("assets/LatoLatin-bold.woff2");
    font-weight: 600;
}

@font-face {
    font-family: "Lato";
    src: url("assets/LatoLatin-Black.woff2");
    font-weight: 800;
}

* {
  margin: 0px;

  font-family: "Lato", "Arial", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1020px;
  height: 89px;
  margin-left: auto;
  margin-right: auto;

  background-color: rgb(45, 48, 58);
  border-bottom: 6px solid #323746;
}

header span {
  color: #f06c64;
}

h1 {
  margin-top: -1px;
  margin-left: 40px;

  font-size: 25px;
  font-weight: 600;
  color: white;
  letter-spacing: -0.442px;
}

ul {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  padding-right: 40.09px;
}

li {
  padding-left: 13.695px;

  font-size: 12px;
  font-weight: 600;
  color: white;
  list-style: none;
  letter-spacing: -0.230px;
}

li:nth-of-type(2n) {
  color: #494e62;

  cursor: default;
}

li:nth-of-type(2n+1):hover {
  color: #e8b8b5;

  transition: 0.3s;

  cursor: pointer;
}

li:nth-of-type(2n+1):active {
  color: #f06c64;
}


.active {
  color: #f06c64;
}

.slider {
  display: flex;
  justify-content: space-between;
  width: 1020px;
  height: 595px;
  margin-left: auto;
  margin-right: auto;

  background-color: #f06c64;
  border-bottom: 5px solid rgb(234, 103, 107);
}

.slider img {
  align-self: center;
}

.prev {
  margin-left: 42px;
  margin-bottom: 6px;
}

.next {
  transform: scale(-1, 1);

  margin-right: 40px;
  margin-bottom: 6px;
}

.prev:hover, .next:hover {
  transition: 0.4s;

  cursor: pointer;
  filter: brightness(4);
}

.vert {
  margin-bottom: 5.9px;
  margin-left: -17.9px;
}

.horizont {
  position: relative;
  top: -1px;
  left: 1px;

  margin-bottom: 5.9px;
  margin-right: -17px;
}

.services {
  width: 1020px;
  height: 494px;
  margin-left: auto;
  margin-right: auto;

  background-color: rgb(242, 242, 242);
  border-bottom: 6px solid white;
}

.wrapper {
  padding: 62px 40.6px 0px 40.6px;
}

h2 {
  font-size: 30px;
  font-weight: 800;
  color: #666d89;
}

p {
  padding-top: 18px;

  font-size: 18px;
  font-weight: 200;
  color: #767e9e;
  letter-spacing: -0.05px;
  line-height: 1.667;
}

p span {
  letter-spacing: -0.24px;
}

.advantage-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 40px;
}

article {
  padding-left: 78px;

  background-repeat: no-repeat;
  background-size: 59px;
  background-position: 1.1px 4px;
}

h3 {
  padding-top: 2px;

  color: #666d89;
}

article p {
  max-width: 221px;
  padding-top: 6px;
  padding-left: 1px;

  font-size: 12px;
  line-height: 21px;
  text-align: justify;
  font-weight: 400;
  text-overflow: clip;
  overflow: hidden;
}

article:nth-of-type(n+4) {
  margin-top: 29px;
}

article:nth-of-type(3n+2) {
  margin-left: -2px;
}

article:nth-of-type(3n) h3 {
  padding-left: 2px;;
}

.custom-design {
  background-image: url('assets/pen.svg');
}

.ideas {
  background-image: url('assets/ellipse.svg');
}

.love {
  background-image: url('assets/heart.svg');
}

.responsive {
  background-image: url('assets/phone.svg');
}

.support {
  background-image: url('assets/bubble.svg');
}

.star {
  background-image: url('assets/star.svg');
}
